<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.templeton.portal</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0AFFC80F-A3DF-4D6B-BDBE-68523580143D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EC1D1B1-AE91-45B5-99EA-7B368352D805</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>128CC64D-E387-4595-99D4-0A80A2A5B79E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89ACCD97-D4D4-4066-B8F2-382C0CA95111</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA6A05A7-D6D2-4E16-A29D-D8EC96FB1BF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16C67035-525F-4B6D-8231-BF75BE70CF76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6F31FB0-2408-407F-B59E-486DE771BD7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2212F88C-C102-4FFD-88F6-C3C9669E6593</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65186ADC-1AB0-492C-AEA0-E740188AC43D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A3F995F-D8BC-40EE-BB39-9A9ADFC204FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16C67035-525F-4B6D-8231-BF75BE70CF76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34DEE68F-0A39-43CA-A57E-BDB17297E722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65186ADC-1AB0-492C-AEA0-E740188AC43D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89ACCD97-D4D4-4066-B8F2-382C0CA95111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCD37479-5995-435A-A9EF-294E20BA0BB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D93A65D-C4C8-4FAE-BA93-81345BDA23A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34DEE68F-0A39-43CA-A57E-BDB17297E722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADBD8DDE-5171-41B7-8A86-5873B2615ADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBF539B9-D466-4616-9024-4E4116E2BF2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCD37479-5995-435A-A9EF-294E20BA0BB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A3F995F-D8BC-40EE-BB39-9A9ADFC204FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ADBD8DDE-5171-41B7-8A86-5873B2615ADD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E890761B-8869-4F4C-8C5C-45EFF58A16D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BE4A5EA6-4228-4151-AFF9-56B91E090F06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67B9862C-AF3F-459E-9219-9B6DFA71246D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6F31FB0-2408-407F-B59E-486DE771BD7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65186ADC-1AB0-492C-AEA0-E740188AC43D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBF539B9-D466-4616-9024-4E4116E2BF2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2212F88C-C102-4FFD-88F6-C3C9669E6593</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E890761B-8869-4F4C-8C5C-45EFF58A16D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D93A65D-C4C8-4FAE-BA93-81345BDA23A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA6A05A7-D6D2-4E16-A29D-D8EC96FB1BF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9381BEE8-392F-473B-8DA2-891175CD5BD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFE8FF25-9828-42B8-B133-8D7B7A828638</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AFFC80F-A3DF-4D6B-BDBE-68523580143D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE4A5EA6-4228-4151-AFF9-56B91E090F06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>portal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node tasks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6F31FB0-2408-407F-B59E-486DE771BD7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tasks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2A3F995F-D8BC-40EE-BB39-9A9ADFC204FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>16C67035-525F-4B6D-8231-BF75BE70CF76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Search Tasks","arg":"tasks"},{"title":"Search Discussions","arg":"discussions","subtitle":""},{"title":"Search Links","arg":"links"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Actions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BCD37479-5995-435A-A9EF-294E20BA0BB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>89ACCD97-D4D4-4066-B8F2-382C0CA95111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>portal</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Portal Search and Open</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>128CC64D-E387-4595-99D4-0A80A2A5B79E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>65186ADC-1AB0-492C-AEA0-E740188AC43D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node discussions.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2212F88C-C102-4FFD-88F6-C3C9669E6593</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>discussions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>ADBD8DDE-5171-41B7-8A86-5873B2615ADD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DBF539B9-D466-4616-9024-4E4116E2BF2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9381BEE8-392F-473B-8DA2-891175CD5BD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FA6A05A7-D6D2-4E16-A29D-D8EC96FB1BF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node links.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34DEE68F-0A39-43CA-A57E-BDB17297E722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9D93A65D-C4C8-4FAE-BA93-81345BDA23A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>links</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E890761B-8869-4F4C-8C5C-45EFF58A16D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node clear-cache.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EC1D1B1-AE91-45B5-99EA-7B368352D805</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>clear-cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0AFFC80F-A3DF-4D6B-BDBE-68523580143D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Clear Cache","arg":"clear-cache"},{"title":"Edit Config","arg":"edit-config"}]</string>
				<key>keyword</key>
				<string>portal-options</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Portal Workflow Options</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>FFE8FF25-9828-42B8-B133-8D7B7A828638</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>./config.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>67B9862C-AF3F-459E-9219-9B6DFA71246D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>edit-config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BE4A5EA6-4228-4151-AFF9-56B91E090F06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Allows you to search portal projects, tasks, and custom links per project.</string>
	<key>uidata</key>
	<dict>
		<key>0AFFC80F-A3DF-4D6B-BDBE-68523580143D</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>128CC64D-E387-4595-99D4-0A80A2A5B79E</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>16C67035-525F-4B6D-8231-BF75BE70CF76</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>1EC1D1B1-AE91-45B5-99EA-7B368352D805</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>2212F88C-C102-4FFD-88F6-C3C9669E6593</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>2A3F995F-D8BC-40EE-BB39-9A9ADFC204FE</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>34DEE68F-0A39-43CA-A57E-BDB17297E722</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>65186ADC-1AB0-492C-AEA0-E740188AC43D</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>67B9862C-AF3F-459E-9219-9B6DFA71246D</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>89ACCD97-D4D4-4066-B8F2-382C0CA95111</key>
		<dict>
			<key>note</key>
			<string>Deafult Action</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>9381BEE8-392F-473B-8DA2-891175CD5BD5</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9D93A65D-C4C8-4FAE-BA93-81345BDA23A6</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>ADBD8DDE-5171-41B7-8A86-5873B2615ADD</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>BCD37479-5995-435A-A9EF-294E20BA0BB4</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>BE4A5EA6-4228-4151-AFF9-56B91E090F06</key>
		<dict>
			<key>note</key>
			<string>Open Config</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>C6F31FB0-2408-407F-B59E-486DE771BD7F</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>DBF539B9-D466-4616-9024-4E4116E2BF2D</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E890761B-8869-4F4C-8C5C-45EFF58A16D8</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>FA6A05A7-D6D2-4E16-A29D-D8EC96FB1BF1</key>
		<dict>
			<key>note</key>
			<string>Shortcut</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>FFE8FF25-9828-42B8-B133-8D7B7A828638</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>portalApiKey</key>
		<string></string>
		<key>portalApiUrl</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>portalApiKey</string>
		<string>portalApiUrl</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
